{% extends 'layouts/base-fullscreen.html' %}
{% block title %}
  Home Page
{% endblock %} 
{% block content%}
<h1 align="center">



  <section class="py-7 mt-3">
    <div class="container">
      <div class="row justify-space-between text-center py-2">
        <div class="col-12 mx-auto">
          
          <a href="hebrew" button type="button" class="btn bg-gradient-primary w-auto me-2">עברית</a>
          <a href="russian" button type="button" class="btn bg-gradient-primary w-auto me-2">Русский</a>
          <a href="english" button type="button" class="btn bg-gradient-primary w-auto me-2">English</a>
          
        </div>
      </div>
    </div>
  </section>

</h1>

{% endblock %}
