<!doctype html>
<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
<link href="https://unpkg.com/soft-ui-design-system@1.0.1/assets/css/soft-design-system.min.css" rel="stylesheet" />

{% extends 'layouts/base-fullscreen.html' %}
{% block title %}
Hebrew
{% endblock %} 

{% block content%}
<body dir="rtl">
  <div class="row text-center mt-2">

      <div class="form-check">
      <label class="form-check-label" for="flexCheckDefault">
      <input class="form-check-input" type="checkbox">כבילה (קשירה)</label>
      </div>

      <div class="form-check">
        <label class="form-check-label" for="flexCheckDefault">
        <input class="form-check-input" type="checkbox">משחק תפקידים (השפלה, ענישה, משחקי נושא)</label>
      </div>

      <div class="form-check">
        <label class="form-check-label" for="flexCheckDefault">
        <input class="form-check-input" type="checkbox">הלקאה (בשוט פלוגר, מחבט, מצליף)</label>
      </div>

      <div class="form-check">
        <label class="form-check-label" for="flexCheckDefault">
        <input class="form-check-input" type="checkbox">אביזרים חשמליים (מצבטי פטמות, שוט חשמלי)</label>
      </div>

      <div class="form-check">
        <label class="form-check-label" for="flexCheckDefault">
        <input class="form-check-input" type="checkbox">משחק חיה: עבד-כלב (טיול, האכלה, משחקים)</label>
      </div>

      <div class="form-check">
        <label class="form-check-label" for="flexCheckDefault">
        <input class="form-check-input" type="checkbox">חגורת צניעות</label>
      </div>

      <div class="form-check">
        <label class="form-check-label" for="flexCheckDefault">
        <input class="form-check-input" type="checkbox">ויברטור, דילדו, מסאג' לפרוסטטה</label>
      </div>

      <div class="form-check">
        <label class="form-check-label" for="flexCheckDefault">
        <input class="form-check-input" type="checkbox">פיסטינג (ביד או דילדו)</label>
      </div>

      <div class="form-check">
        <label class="form-check-label" for="flexCheckDefault">
        <input class="form-check-input" type="checkbox">סאב ספייס (השפלת עבד)</label>
      </div>

      <div class="form-check">
        <label class="form-check-label" for="flexCheckDefault">
        <input class="form-check-input" type="checkbox">מקלחות זהב (לתוך הפה, על הגוף של העבד)</label>
      </div>

      <div class="form-check">
        <label class="form-check-label" for="flexCheckDefault">
        <input class="form-check-input" type="checkbox">חניקה ארוטית (בקולר או בידיים)</label>
      </div>

      <div class="form-check">
        <label class="form-check-label" for="flexCheckDefault">
        <input class="form-check-input" type="checkbox">בדיקת העבד בכיסא גינקולוגי</label>
      </div>

      <div class="form-check">
        <label class="form-check-label" for="flexCheckDefault">
        <input class="form-check-input" type="checkbox">קיבוע, מומיפיקציה (אזיקי ידיים, אזיקי רגליים, חניקה)</label>
      </div>

      <div class="form-check">
        <label class="form-check-label" for="flexCheckDefault">
        <input class="form-check-input" type="checkbox">פוט פטיש (עבד מלקק רגליים)</label>
      </div>

      <div class="form-check">
        <label class="form-check-label" for="flexCheckDefault">
        <input class="form-check-input" type="checkbox">כפייה וענישה</label>
      </div>

      <div class="form-check">
        <label class="form-check-label" for="flexCheckDefault">
        <input class="form-check-input" type="checkbox">כלוב</label>
      </div>

      <div class="form-check">
        <label class="form-check-label" for="flexCheckDefault">
        <input class="form-check-input" type="checkbox">צליבה</label>
      </div>

</div>
</div>

</body> 
{% endblock %} 
